# /etc/ssh/sshd_config.d/75-ldap.conf

# Enable PAM
UsePAM yes

# Disable Root Login
PermitRootLogin no

# Enforce SSH key authentication
PasswordAuthentication no

# Direct SSHD to use SSSD as authorized_keys source
AuthorizedKeysCommand /usr/bin/sss_ssh_authorizedkeys
AuthorizedKeysCommandUser root

